.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    aspect-ratio: 1;

    --color-text: var(--clr-light-grey);

    &:hover,
    &:focus {
      --color-text: var(--color-primary);
    }
  }
}
