.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(12 / 16 * 1rem);

  @media screen and (min-width: calc(704 / 16 * 1rem)) {
    gap: calc(18 / 16 * 1rem);
  }

  a {
    --color-text: var(--color-text-dark);

    &:hover,
    &:focus {
      --color-text: var(--color-primary);
    }
  }

  svg {
    height: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
    width: auto;
  }
}
